.App {
  text-align: center;
  padding: 30px;
}
.compareTable {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

li {
  list-style: none;
  float: left;
}
.itemDisplay {
  border: 1px solid black;
  padding: 10px;
}

.productStyle {
  width: 200px;
}

.btn {
  float: right;
}
